game
  music
    for record in records
      info
        param(__type="u32" __count="16")
         | #{record.mid} 
         | #{record.type} 
         | #{record.score} 
         | #{record.type} 
         | #{record.grade} 
         | 0 0 
         | #{record.buttonRate} 
         | #{record.longRate} 
         | #{record.volRate} 
         | 0 0 0 0 0 0