//DATA//
  profile: DB.FindOne(refid, { collection: 'profile' })

-
  const padded = _.padStart(profile.id.toString(), 8);
  const sdvxid = `${padded.slice(0, 4)}-${padded.slice(4)}`;

div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Detail Change
    .card-content
      form(method="post" action="/emit/updateProfile")
        .field
          label.label ID
          .control
            input.input(type="text" name="refid", value=refid readonly)
        .field
          label.label SDVX ID
          .control
            input.input(type="text" name="sdvxid", value=sdvxid readonly)
        .field
          label.label Name
          .control
            input.input(type="text" name="name", placeholder=profile.name)
        .field
          label.label AppealCardID
            span.icon.has-tooltip-right(data-tooltip="Check \"data/others/appeal_card.xml\"")
              i.mdi.mdi-help-circle
          .control
            input.input(type="number" step=1 name="appeal", placeholder=profile.appeal)
        .field
          label.label AkanameID
            span.icon.has-tooltip-right(data-tooltip="Check \"data/others/akaname_parts.xml\"")
              i.mdi.mdi-help-circle
          .control
            input.input(type="number" step=1 name="akaname", placeholder=profile.akaname)
        .field
          button.button.is-primary(type="submit") 
            span.icon
              i.mdi.mdi-check
            span Submit
